
:root[data-theme="ifrn-webeti"] {

    /* default: false; */
    /* prefersdark: false; */
    /* color-scheme: "ifrn-webeti"; */

    /* cores base */
    --color-base-100: #0C1212;
    --color-base-200: #084888;
    --color-base-300: oklch(44% 0.11 240.79);
    --color-base-content: #D9DFDF;

    /* cores primárias */
    --color-primary: #0C9BCE;
    --color-primary-content: oklch(28% 0.109 3.907);

    /* cores secundárias */
    --color-secondary: #2FB9DD;
    --color-secondary-content: oklch(29% 0.066 243.157);

    /* cores de realce */
    --color-accent: oklch(71% 0.143 215.221);
    --color-accent-content: oklch(26% 0.079 36.259);

    /* cores neutras */
    --color-neutral: oklch(27% 0.033 256.848);
    --color-neutral-content: #D9DFDF;

    /* cores info */
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(29% 0.066 243.157);

    /* cores sucessso*/
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: oklch(27% 0.046 192.524);

    /* cores de aviso */
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(42% 0.095 57.708);

    /* cores de erro */
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);

    /* arredondamento de bordas */
    --radius-selector: 2rem;
    --radius-field: 1rem;
    --radius-box: 1rem;

    /* tamanhos */
    --size-selector: 0.25rem;
    --size-field: 0.28125rem;    
    --border: 2px;

    /* outros */
    --depth: 0;
    --noise: 0;
  }
  