/** Especificando as fonts */
$font-titulo : "Raleway", sans-serif;
$font-texto : "IBM Plex Mono", monospace;

/** Especificando os pesos das fonts */
$font-peso-titulo: 800;
$font-peso-light: lighter;


/** Especificando cores */
$cor-bg-body: #F4F4F4;
$cor-bg-button: #7400B8;
$cor-text-title: #000000;
$cor-border-img: #1B1B1B;
$cor-text-body: #676767;
$cor-text-nav: #6930C3;
$cor-border-button: #6930C3;
$cor-bg-nav: #56CFE1;
$cor-text-button: #FFFFFF;
$cor-boxshadow-button: 0 5px 30px 0 rgba(105, 48, 195, 0.50);


/** corpo */
body {
    font-family: $font-texto;
    background-color: $cor-bg-body;
}

/** navbar */
nav {
    background-color: $cor-bg-nav;
    border-radius: 0px 0px 6px 6px;
    ul {
        list-style: none;
        li {
            transition: transform 0.25s ease-in-out;
            a {
                color: $cor-text-nav;
                text-decoration: none;
                transition: 0.25s ease-in-out;
            }
        }
      
    }
}

/*main*/
h1 {
    font-family: $font-titulo;
    font-weight: $font-peso-titulo;
    font-size: 44px;
}

h3 {
    font-family: $font-titulo;
    font-weight: $font-peso-light;
    font-size: 24px;
}

p {
    text-align: justify;
    color: $cor-text-body;
    font-size: 14px;
}

button {
    font-family: $font-texto;
    font-size: medium;
    font-weight: 700px;
    border-radius: 4px;
    border: 1px solid $cor-border-button;
    background-color: $cor-bg-button;
    box-shadow: $cor-boxshadow-button;
    color: $cor-text-button;
    transition: transform 0.25s ease-in-out; 
}

figure {
    img {
        border-radius: 900px;
        width: 350px;
    }
}

.job-list {
    list-style: none;
    li {
        img {
            border-radius: 6px;
            border: 1px solid $cor-border-img;
            width: 120px;
            height: 26px;
            transition: transform 0.25s ease-in-out;
        }
    }
}

/** hovers*/
nav {
    ul {
        li:hover {
            transform: scale(1.1);
            a:hover {
            color: #F4F4F4;
            }
        }  
    }   
}

button:hover {
    background-color: #000000;
    box-shadow: 0 5px 30px 0 #1B1B1B;
    transform: scale(1.1);
    cursor: pointer;
   
}

.job-list {
    img:hover {
        cursor: pointer;
        border-color: #6930C3;
        transform: scale(1.1)
    }
}
