/** Especificação de displyas*/
@mixin direcao-linha {
    @include row();
    padding: 12px 100px;
    justify-content: center;
    align-items: center;
}

@mixin flex{
    display: flex;
}

@mixin centralizar-itens {
    align-items: center;
}

@mixin centralizar-conteudo {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@mixin row {
    flex-direction: row;
}

@mixin column {
    flex-direction: column;
}

/* body*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.header {
    @include flex();
    @include centralizar-conteudo();
}

nav {
    margin-top: 10px;
    width: 1000px;
    gap: 300px;
    @include flex();
    @include direcao-linha();
    .menu-hamburger {
        display: none;
    }
    .menu {
        text-wrap: nowrap;
        @include flex();
        @include direcao-linha();
    }
    .menu-navegacao {
        @include flex();
        @include centralizar-itens();
        gap: 32px;
    }
    .menu-social {
        @include flex();
        @include centralizar-itens();
        gap: 25px;
        .fa-brands {
            font-size: 19px;
        }
    }
}

/** Breakpoints*/
$break-desktop: 1200px;
$break-tablet: 900px;
$break-mobile: 768px;
$break-watch: 400px;

/** main */

.container {
    max-width: $break-desktop;
    @include flex();
    @include centralizar-conteudo();
    h3 {
        margin-top: -14px;
    }
        p {
            width: 541px;
        }
        button {
            @include flex();
            align-items: center;
            padding: 18px 64px;
            gap: 8px;
            margin-top: 40px;
            .fa-solid {
                font-size: 14px;
                height: 12px;
            }
        }
}

.description {
    @include flex();
    justify-content: space-between;
    margin-top: 60px;
}

.last-jobs {
    @include flex();
    @include column();
    .job-list {
    @include flex();
    @include row();
    padding: 0;
    gap: 63px;
    img {
        padding: 18px 28px 18px 28px;
        }
    }
}
