/*breakpoints*/
$breakpoint-min: 668px;
$breakpoint-max: 667px;

/*displays*/
@mixin flex {
    display: flex;
}

@mixin row {
    flex-direction: row;
}

@mixin row-reverse {
    flex-direction: row-reverse;
}

@mixin column {
    flex-direction: column;
}

@mixin column-reverse {
    flex-direction: column-reverse;
}

@mixin centralizar-conteudo {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@mixin centralizar-itens {
    align-items: center;
}




@media (min-width: $breakpoint-min) {

}

@media (max-width: $breakpoint-max) {
    nav {
       margin: 0;
       @include flex();
       @include row-reverse();
       @include centralizar-itens();
       width: 100dvh;
       .menu-navegacao {
       display: none;
       }
    }
}