@charset "UTF-8";
/** Especificação de displyas*/
/* body*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-top: 10px;
  width: 1000px;
  gap: 300px;
  display: flex;
  flex-direction: row;
  padding: 12px 100px;
  justify-content: center;
  align-items: center;
}
nav .menu {
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  padding: 12px 100px;
  justify-content: center;
  align-items: center;
}
nav .menu-navegacao {
  display: flex;
  align-items: center;
  gap: 32px;
}
nav .menu-social {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .menu-social .fa-brands {
  font-size: 19px;
}

/** Breakpoints*/
/** main */
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.container h3 {
  margin-top: -14px;
}
.container p {
  width: 541px;
}
.container button {
  display: flex;
  align-items: center;
  padding: 18px 64px;
  gap: 8px;
  margin-top: 40px;
}
.container button .fa-solid {
  font-size: 14px;
  height: 12px;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.last-jobs {
  display: flex;
  flex-direction: column;
}
.last-jobs .job-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 63px;
}
.last-jobs .job-list img {
  padding: 18px 28px 18px 28px;
}

/** Especificando as fonts */
/** Especificando os pesos das fonts */
/** Especificando cores */
/** corpo */
body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #080808;
}

/** navbar */
nav {
  background-color: #1B1B1B;
  border-radius: 0px 0px 6px 6px;
}
nav ul {
  list-style: none;
}
nav ul li {
  transition: transform 0.25s ease-in-out;
}
nav ul li a {
  color: #9C9C9C;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

/*main*/
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 44px;
  color: #FFFFFF;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 24px;
  color: #FFFFFF;
}

p {
  text-align: justify;
  color: #9C9C9C;
  font-size: 14px;
}

button {
  font-family: "IBM Plex Mono", monospace;
  font-size: medium;
  font-weight: 700px;
  border-radius: 4px;
  border: 1px solid #62BA1B;
  background-color: #3F8E00;
  box-shadow: 0 5px 30px 0 #3F8E00;
  color: #FFFFFF;
  transition: transform 0.25s ease-in-out;
}

figure img {
  border-radius: 900px;
  width: 350px;
}

h5 {
  color: #FFFFFF;
}

.job-list {
  list-style: none;
}
.job-list li img {
  border-radius: 6px;
  border: 1px solid #1B1B1B;
  width: 120px;
  height: 26px;
  transition: transform 0.25s ease-in-out;
}

/** hovers*/
nav ul li:hover {
  transform: scale(1.1);
}
nav ul li:hover a:hover {
  color: #F4F4F4;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.job-list img:hover {
  cursor: pointer;
  border-color: #62BA1B;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
